/*--------------------------------------------
		Navigation
--------------------------------------------*/

.navbar-brand {
	font-family:courier;
}
.navbar navbar-expand-lg navbar-light bg-light fixed-top {
	font-size: 25px;
	color: blue;
}
/*===========================================
		End Navigation
===========================================*/


/*--------------------------------------------
		Main Body/Containers Styling
--------------------------------------------*/
body {
	background-color: #343a40;
}


.skills-container {
	background-color: #eb4304; 
	border-radius: 100px;
	margin-bottom: 100px;
	padding-bottom: 50px;
	margin-right: 200px;
	margin-left: 200px;
}

.flex-container {
	padding-bottom: 50px;
}

.contact-container {
	padding-bottom: 50px;
	background-color: #eb4304; 
	border-radius: 100px;
	padding-bottom: 0px;
	margin-right: 200px;
	margin-left: 200px;
}

.flex-container3 {
	padding-bottom: 200px;
}

/*============================================
		End Main Body/Containers Styling
=============================================*/


/*----------------------------------------------
		Heading/Text Stylings 
----------------------------------------------*/


.paragraph {
	font-weight: bold;
	font-size: 50px;
	color: #727882;
	font-family: monospace;
}


.title-name {
	font-weight: bold;
	color: #343a40;
	font-family: "Arial Black", Gadget, sans-serif;
}


.img-text {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	font-weight: bold;
	font-size: 50px;
	color: #343a40;
	font-family: monospace;
}

h1 {
	color: #fde698;
	margin-top: 100px;
	text-align: center;
	text-decoration: underline;
	text-shadow: 2px 2px 4px #000000;
	padding-top: 45px;
	padding-bottom: 25px;
} 

.cont-about {
	color: #fde698;
	float: left;
	margin-top: 50px;
	margin-left: 50px;
	font-size: 35px;
	font-weight: bold;
	text-shadow: 2px 2px 4px #000000;
}
.cont-about img{
	box-shadow: 2px 2px 20px #000000;
}
.cont-github {
	color: #fde698;
	margin-top: 100px;
	margin-left: 50px;
	margin-bottom: 100px;
	font-size: 35px;
	font-weight: bold;
	text-shadow: 2px 2px 4px #000000;
}

white-head {   /*---- h3 "whitehead" -----*/
	color: #fde698;
	margin-top: 5%;
	
}	

h3 {
	color: #fde698;
	margin-top: 10px;
	font-size: 35px;
}

.discription {
	color: #fde698;
	margin-top: 100px;
	padding-right: 50px;
	padding-left: 50px;
	font-size: 25px;
}

.cont-linkin p {
	font-size: 35px;
	font-weight: bold;
	margin-right: 50px;
	margin-top: 50px;
	margin-bottom: 100px;
	color: #343a40;
	float: right;
	background-color: #fde698;
	padding: 15px;
	border-radius: 10px;
	text-shadow: none;
}

.cont-github p {
	font-size: 35px;
	font-weight: bold;
	margin-right: 50px;
	margin-top: 50px;
	margin-bottom: 100px;
	color: #343a40;
	float: right;
	background-color: #fde698;
	padding: 15px;
	border-radius: 10px;
	text-shadow: none;
}

.cont-linkin {
	color: #fde698;
	margin-top: 250px;
	margin-left: 50px;
	font-size: 35px;
	font-weight: bold;
	text-shadow: 2px 2px 4px #000000;
}
/*============================================
		END Heading/Text Stylings 
============================================*/


/*---------------------------------------------
		Image Styling
---------------------------------------------*/
	
.img-fluid {
	height: 725px;
	width: 100%;
}

.photo {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.photo-overlay {
	color: #fde698;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0; 
	left: 0;
	padding-left: 20px;
	padding-right: 20px;
	justify-content: center; /* For centering text inside .photo-overlay */
	align-items: center;
	background: rgba(0,0,0, .5);
}

.photo-overlay {
	opacity: 0;
	transition: opacity .5s;
	border-radius: 10px;
	cursor: pointer;
}

.photo-overlay p {
	width: 100%;
	height: 100%;
	color: #fff;
}

.contact-container img {
	height: 200px;
	width: 150px;
	border-radius: 10px;
	float: right;
	margin-right: 45px;
	margin-left: 45px;
}

.flex-container3 img {
	height: 200px;
	width: 200px;
	float: right;
	margin-right: 100px;
}

.image1 {
	width: 150px;
	height: 200px;
	text-align: center;
	border: 4px solid #fde092;
	border-radius: 8px;
	background-color: #fde698;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.7);
}

.image2 {
	width: 150px;
	height: 200px;
	text-align: center;
	border: 4px solid #fde092;
	border-radius: 8px;
	background-color: #fde698;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.7);
}

/*=========================================
		END IMG Styling
=========================================*/


/*-----------------------------------------
		IMG Animation
-----------------------------------------*/
.photo-overlay:hover {
	opacity: 1;
}

.image1 {
	transition: transform .5s;
	transform-origin: 50% 50%;
}

.image2 {
	transition: transform .5s;
	transform-origin: 50% 50%;	
}

.image1:hover {
	transform: scale(1.1);
}

.image2:hover {
	transform: scale(1.1);
}

.cont-github img {
	transition: transform .5s;
	transform-origin: 50% 50%;
} 
  
.cont-github img:hover {
	transform: scale(1.2);
}

.cont-linkin img {
	transition: transform .5s;
	transform-origin: 50% 50%;
}

.cont-linkin img:hover {
	transform: scale(1.2);
}

/*=============================================
		END IMG Animation 
=============================================*/